figure {
    margin: 0px;
}
h1, h2{
    @include font2;
    font-size: $titlefontsize;
    font-weight: bold
}
p{
    @include font2;
    font-size: $paragraphfontsize;
}
#main{
    margin: 80px 0px 0px 0px;
    background-color: #EAEAEA;
}