body{
    position: relative;
}
#main{
    margin: 80px 0px 0px 0px;
    padding: 80px 0px 55px 0px;
    background-color: #EAEAEA;
}
figure {
    margin: 0px;
}
h1{
    @include font2;
    font-size: $titlefontsize;
    font-weight: bold
}
h2{
    @include font2;
    font-size: $titlefontsize*0.8;
    font-weight: bold
}
p{
    @include font2;
    font-size: $paragraphfontsize;
}