@import "./utils/variables";
@import "./Base/color";
@import "./Base/fonts";
@import "./utils/mixins";
@import "./Base/elements";
@import "./composants/buttons";
@import "./Layout/spinner";
@import "./Layout/header";
@import "./Pages/home";
@import "./Pages/restaurants";
@import "./Layout/footer";