@import "./utils/variables";
@import "./Base/fonts";
@import "./Base/elements";
@import "./utils/mixins";
@import "./composants/buttons";
@import "./Layout/header";
@import "./Pages/homeMain";
@import "./Pages/homesections";
@import "./Pages/restaurants";
@import "./Layout/footer";