<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../publics_html/fonts/fontawesome/css/all.css" />
        <link rel="stylesheet" href="../publics_html/CSS/style.css" />
        <title>ohmyfood - Réservez le menu qui vous convient</title>
    </head>
    <body>
        <!--En-tête, Bouton de retour, Logo-->
        <header class="header">
            <div class="header__return">
                <a href="../index.html">
                    <i class="fa-2x fas fa-arrow-left"></i>
                </a>
            </div>
            <a href="../index.html" class="header__logo">
                <figure class="header__logo">
                    <img src="../publics_html/Images/Logo/ohmyfood@2x.svg" alt="Logo ohmyfood" />
                </figure>
            </a>
        </header>
        <!--Photo du restaurant-->
        <div class="restaurantpicture">
            <img src="../publics_html/Images/Restaurants/francaise.jpg" alt="À la française" />
        </div>
        <!--Menu du restaurant-->
        <main class="mainMenu">
            <section class="menu">
                <!--Nom et coeur restaurant-->
                <div class="menu__restaurant">
                    <h1 class="menu__title">
                        À la française
                    </h1>
                    <div class="menu__heart">
                        <i class="fa-2x fas fa-heart menu__heart--yes"></i>
                        <i class="fa-2x far fa-heart menu__heart--no"></i>
                    </div>
                </div>
                <!--Gestion du mode responsive pour les menus-->
                <div class="responsive">
                    <!--Début des entrées-->
                    <div class="responsive__firstcourse">
                        <h2 class="menu__firstcoursetitle">
                            ENTRÉES
                        </h2>
                        <div class="menu__firstcourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Tartare de poulpe acidulé</p>
                                    <p>Aux zests d'orange</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>25 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__firstcourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Velouté de légumes d'antan</p>
                                    <p>Carotte, panais, topinambour</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>35 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__firstcourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Soupe à l'oignon</p>
                                    <p>Revisitée</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>20 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!--Début des plats-->
                     <div class="responsive__maincourse">
                        <h2 class="menu__maincoursetitle">
                            PLATS
                        </h2>
                        <div class="menu__maincourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Coquilles Saint-Jacques</p>
                                    <p>Accompagnées d'une purée de panais</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>40 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__maincourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Magret de canard</p>
                                    <p>et parmentier de pommes de terres</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>35 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__maincourse">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Pigeonneau d'Ille-et-Vilaine</p>
                                    <p>Sur son lit de gnocchis aux légumes</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>44 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Début des desserts-->
                    <div class="responsive__dessert">
                        <h2 class="menu__desserttitle">
                            DESSERTS
                        </h2>
                        <div class="menu__dessert">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Pétales de violettes glacés</p>
                                    <p>Et purée de noisettes</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>18 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dessert">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Fondant au chocolat</p>
                                    <p>Revisité</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>22 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dessert">
                            <div class="menu__layout">
                                <div class="menu__layout1">
                                    <p>Millefeuille croustillant</p>
                                    <p>Myrtilles et pâte d'amande</p>
                                </div>
                                <div class="menu__layout2">
                                    <p>23 &euro;</p>
                                </div>
                                <div class="menu__layout3">
                                    <i class="fas fa-check-circle menu__firstcourse--effect"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="menu__button">
                    Commander
                </button>
            </section>
        </main>
        <footer class="foot">
            <h2 class="foot__title">
                ohmyfood
            </h2>
            <nav class="foot__nav">
                <a href="#" class="link">
                    <ul class="nav">
                        <li>
                            <div class="nav__primarynav">
                                <i class="nav__logo"><i class="fas fa-utensils"></i></i>
                                <p>Proposer un restaurant</p>
                            </div>
                        </li>
                    </ul>
                </a>
                <a href="#" class="link">
                    <ul class="nav">
                        <li>
                            <div class="nav__primarynav">
                                <i class="nav__logo"><i class="fas fa-hands-helping"></i></i>
                                <p>Devenir partenaire</p>
                            </div>
                        </li>
                    </ul>
                </a>
                <a href="#" class="link">
                    <ul class="nav">
                        <li>
                            <div>
                                <p class="nav__secondarynav">Mentions légales</p>
                            </div>
                        </li>
                    </ul>
                </a>
                <a href="mailto:contact@ohmyfood.fr" class="link">
                    <ul class="nav">
                        <li>
                            <div>
                                <p class="nav__secondarynav">Contact</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </nav>
        </footer>
    </body>
</html>