.presentation__button{
    display: block;
    margin: auto;
    width: 60%;
    height: 60px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    background: linear-gradient($secondaryColor, $primaryColor);
    transition: transform 1000ms cubic-bezier(0,1.28,.89,.85);
    &:hover{
        transform: scale(1.15);
        background: linear-gradient($primaryColor, $secondaryColor);
    }
}
.menu__button{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient($secondaryColor, $primaryColor);
    transition: transform 1000ms cubic-bezier(0,1.28,.89,.85);
    &:hover{
        transform: scale(1.15);
        background: linear-gradient($primaryColor, $secondaryColor);
    }
}