.presentation__button{ /*Bouton page d'accueil*/
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    background: linear-gradient($secondaryColor, $primaryColor);
    box-shadow: 10px 10px 25px grey;
    transition: transform 400ms ease-in-out;
    &:hover{ /*Animation du bouton, agrandissement, éclaircissement, ombre portée*/
        transform: scale(1.05);
        background: linear-gradient(lighten($secondaryColor, 2%), lighten($primaryColor, 2%));
        box-shadow: 10px 10px 25px grey;
    }
}
.menu__button{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient($secondaryColor, $primaryColor);
    transition: transform 1000ms cubic-bezier(0,1.28,.89,.85);
    &:hover{
        transform: scale(1.15);
        background: linear-gradient($primaryColor, $secondaryColor);
    }
}
@media screen and (min-width: 600px) {  /*Mode tablette et desktop*/
    .presentation__button{
        width: 40%;
    }
    .menu__button{
        width: 40%;
    }
}
