/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.presentation__button{ /*Bouton page d'accueil*/
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from($secondaryColor), to($primaryColor));
    background: -o-linear-gradient($secondaryColor, $primaryColor);
    background: linear-gradient($secondaryColor, $primaryColor);
    -webkit-box-shadow: 10px 10px 25px grey;
            box-shadow: 10px 10px 25px grey;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    &:hover{ /*Animation du bouton, agrandissement, éclaircissement, ombre portée*/
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        background: -webkit-gradient(linear, left top, left bottom, from(lighten($secondaryColor, 2%)), to(lighten($primaryColor, 2%)));
        background: -o-linear-gradient(lighten($secondaryColor, 2%), lighten($primaryColor, 2%));
        background: linear-gradient(lighten($secondaryColor, 2%), lighten($primaryColor, 2%));
        -webkit-box-shadow: 10px 10px 20px grey;
                box-shadow: 10px 10px 20px grey;
    }
}
.menu__button{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from($secondaryColor), to($primaryColor));
    background: -o-linear-gradient($secondaryColor, $primaryColor);
    background: linear-gradient($secondaryColor, $primaryColor);
    -webkit-box-shadow: 10px 10px 25px grey;
            box-shadow: 10px 10px 25px grey;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    &:hover{ /*Animation du bouton, agrandissement, éclaircissement, ombre portée*/
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        background: -webkit-gradient(linear, left top, left bottom, from(lighten($secondaryColor, 2%)), to(lighten($primaryColor, 2%)));
        background: -o-linear-gradient(lighten($secondaryColor, 2%), lighten($primaryColor, 2%));
        background: linear-gradient(lighten($secondaryColor, 2%), lighten($primaryColor, 2%));
        -webkit-box-shadow: 10px 10px 20px grey;
                box-shadow: 10px 10px 20px grey;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .presentation__button{
        width: 30%;
    }
    .menu__button{
        width: 30%;
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .presentation__button{
        width: 20%;
    }
    .menu__button{
        width: 20%;
    }
}