.presentation__button{
    display: block;
    margin: auto;
    width: 60%;
    height: 60px;
    border-radius: 25px;
    color: white;
    background: linear-gradient($secondaryColor, $primaryColor);
    transform: scale(1);
    transition: transform 400ms;
    &:hover{
        transform: scale(1.15);
    }
}