.localize{ /*Mise en page de l'outil de géolocalisation*/
    width: 100%;
    margin: auto;
    background-color: $grey1;
    height: 70px;
    &__container{
        width: max-content;
        margin: auto;
        display: flex;
        height: 100%
    }
}
.container{
    &__logo{
        flex: 0 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__town{
        flex: 0 0 80%;
        @include font2;
        font-size: $paragraphfontsize;
        text-align: left;
        background-color: transparent;
        border: transparent;
    }
}
.presentation{ /*Mise en page de la présentation de l'entreprise*/
    background-color: $grey2;
    padding: 50px 0px 50px 0px;
    &__title{
        text-align: center;
        padding: 0px 50px;
    }
    &__subtitle{
        text-align: center;
        opacity: 0.7;
        margin-bottom: 30px;
    }
}
.functionality{ /*Mise en page des fonctionnalités du site*/
    margin-left: 25px;
    margin-right: 25px;
    &__title{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}
.step{ /*Mise en page des boites fonctionnalités du site*/
    width: 300px;
    border: solid 1px $grey1;
    box-shadow: 10px 10px 7px $grey1;
    border-radius: 25px;
    position: relative;
    margin-bottom: 30px;
    &:hover{
        background-color: rgba($secondaryColor, 0.15);
        border-radius: 25px;
    }
    &:hover .step__logo--select{
        color: $primaryColor;
        opacity: 1;
    }
    &__link{
        text-decoration: none;
    }
    &__container{
        display: flex;
    }
    &__number{
        display: flex;
        position: absolute;
        top: 10px;
        left: 0px;
        color: $white;
        align-items: center;
        height: 10px;
        border: solid 1px $primaryColor;
        border-radius: 50px;
        padding: 10px;
        background-color: $primaryColor;
    }
    &__logo{
        display: flex;
        align-items: center;
        margin-left: 50px;
        color: $black;
        opacity: 0.7;
    }
    &__paragraph{
        color: $black;
        margin-left: 25px;
        text-align: left;
        font-weight: bold;
    }
}
/*Début du main, selection des restaurants*/
.maintitle{
    margin-left: 25px;
    margin-top: 0px;
}
.restaurant{
    border: transparent;
    background-color: #fff;
    margin: 15px 25px;
    border-radius: 25px;
    position: relative;
    & > a{
        display: block;
        text-decoration: none;
        color: #000
    }
    &__picture{
        @include homeRestaurantContainer;
        & > img{
            @include homeRestaurantPicture;
        }
    }
    &__new{
        color: $fourthColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        border: transparent;
        height: min-content;
        background-color: $tertiaryColor;
        border-radius: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 80px;
        height: 30px;
    }
    &__ID{
        display: flex;
        align-items: center;
    }
    &__description{
        flex-basis: 80%;
        margin: 15px 0px 15px 15px;
    }
    &__name{
        margin: 0px;
        padding: 0px 0px 10px 0px;
    }
    &__town{
        margin: 0px;
        padding: 0px 0px 15px 0px;
    }
    &__heart{
        flex-basis: 20%;
        position: relative;
        &--yes{
            position: absolute;
            right: 15px;
            top: -20px;
            z-index: -1;
            color: $primaryColor;
            opacity: 0;
            transition: opacity 1.5s;
        }
        &--no{
            position: absolute;
            right: 15px;
            top: -20px;
            z-index: 1;
            opacity: 0.5;
            transition: opacity 1.5s;
        }
        &:hover .restaurant__heart--yes{
            z-index: 1;
            opacity: 1;
        }
        &:hover .restaurant__heart--no{
            z-index: -1;
            opacity: 0;
        }
    }
}
/*Media queries*/
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .localize{
        @include tablettemode
    }
    .presentation{
        @include tablettemode
    }
    .functionality{
        @include tablettemode;
        &__title{
            margin-left: 25px;
        }
        &__step{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    #main{
        @include tablettemode
    }
    .tablette{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .localize{
        @include desktopmode
    }
    .presentation{
        @include desktopmode
    }
    .functionality{
        @include desktopmode;
        &__title{
            margin-left: 25px;
        }
        &__step{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    #main{
        @include desktopmode
    }
    .tablette{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}