.localize{
    width: 100%;
    background-color: #EAEAEA;
    height: 70px;
    &__container{
        width: max-content;
        margin: auto;
        display: flex;
        height: 100%
    }
    &__logo{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: right;
        margin-right: 15px;
    }
    &__town{
        width: 80%;
        @include font2;
        font-size: $paragraphfontsize;
        text-align: left;
        background-color: transparent;
        border: transparent;
    }
}
.presentation{
    &__title{
        @include font2;
        text-align: center;
        font-weight: bolder;
        margin: 50px 0px 25px 0px;
    }
    &__subtitle{
        @include font2;
        text-align: center;
        opacity: 0.7;
        margin-bottom: 30px;
    }
}
.functionality{
    margin-left: 25px;
    margin-right: 25px;
    &__title{
        margin-top: 80px;
        margin-bottom: 30px;
    }
}
.step{
    display: flex;
    justify-content: space-around;
    &__number{
        display: flex;
        color: #fff;
        align-items: center;
        height: 10px;
        border: solid 1px $primaryColor;
        border-radius: 50px;
        padding: 10px;
        background-color: $primaryColor;
    }
}