.localize{
    width: 100%;
    background-color: #EAEAEA;
    height: 70px;
    &__container{
        width: max-content;
        margin: auto;
        display: flex;
        height: 100%
    }
    &__logo{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: right;
        position: relative;
        left: 25px;
    }
    &__town{
        width: 80%;
        @include font2;
        font-size: $paragraphfontsize;
        text-align: center;
        background-color: transparent;
        border: transparent;
    }
}
.presentation{
    &__title{
        text-align: center;
        font-weight: bolder;
        margin: 50px 0px 25px 0px;
    }
}