.localize{
    width: 100%;
    background-color: $grey1;
    height: 70px;
    &__container{
        width: max-content;
        margin: auto;
        display: flex;
        height: 100%
    }
    &__logo{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: right;
        margin-right: 15px;
    }
    &__town{
        width: 80%;
        @include font2;
        font-size: $paragraphfontsize;
        text-align: left;
        background-color: transparent;
        border: transparent;
    }
}
.presentation{
    background-color: $grey2;
    padding: 50px 0px 50px 0px;
    &__title{
        text-align: center;
    }
    &__subtitle{
        text-align: center;
        opacity: 0.7;
        margin-bottom: 30px;
    }
}
.functionality{
    margin-left: 25px;
    margin-right: 25px;
    &__title{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    &__step{
        border: solid 1px $grey1;
        box-shadow: 10px 10px 7px $grey1;
        border-radius: 25px;
        position: relative;
        margin-bottom: 30px;
    }
}
.step{
    display: flex;
    &__number{
        display: flex;
        position: absolute;
        top: 10px;
        left: 0px;
        color: #fff;
        align-items: center;
        height: 10px;
        border: solid 1px $primaryColor;
        border-radius: 50px;
        padding: 10px;
        background-color: $primaryColor;
    }
    &__logo{
        display: flex;
        align-items: center;
        margin-left: 50px;
        opacity: 0.7;
        &--select{
            color: $primaryColor;
            opacity: 1;
        }
    }
    &__paragraph{
        margin-left: 25px;
        text-align: left;
        font-weight: bold;
    }
    &--select{
        background-color: rgba($secondaryColor, 0.15);
        border-radius: 50px;
    }
}
.maintitle{
    margin-left: 25px;
    margin-top: 0px;
}
.restaurant{
    border: transparent;
    background-color: #fff;
    margin: 15px 25px;
    border-radius: 25px;
    position: relative;
    & > a{
        text-decoration: none;
        color: #000
    }
    &__picture{
        @include homeRestaurantContainer;
        & > img{
            @include homeRestaurantPicture;
        }
    }
    &__new{
        color: $fourthColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        border: transparent;
        height: min-content;
        background-color: $tertiaryColor;
        border-radius: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 80px;
        height: 30px;
    }
    &__ID{
        display: flex;
    }
    &__description{
        margin: 15px 0px 15px 15px;
    }
    &__name{
        margin: 0px;
        padding: 0px 0px 10px 0px;
    }
    &__town{
        margin: 0px;
        padding: 0px 0px 15px 0px;
    }
    &__heart{
        position: absolute;
        right: 30px;
        top: 150px;
        opacity: 0.5;
        &--select{
            color: $primaryColor;
            opacity: 1;
        }
    }
    &__hand{
        display: none;
        &--select{
            display: block;
            position: absolute;
            top: 15px;
            right: -12px;
            color: #000;
        }
    }
}