.localize{
    width: 100%;
    background-color: #EAEAEA;
    height: 70px;
    &__container{
        width: max-content;
        margin: auto;
        display: flex;
        height: 100%
    }
    &__logo{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: right;
        margin-right: 15px;
    }
    &__town{
        width: 80%;
        @include font2;
        font-size: $paragraphfontsize;
        text-align: left;
        background-color: transparent;
        border: transparent;
    }
}
.presentation{
    &__title{
        text-align: center;
        font-weight: bolder;
        margin: 50px 0px 25px 0px;
    }
    &__subtitle{
        text-align: center;
        opacity: 0.7;
        margin-bottom: 30px;
    }
}
.functionality{
    margin-left: 25px;
    margin-right: 25px;
    &__title{
        margin-top: 80px;
        margin-bottom: 30px;
    }
    &__step{
        border: solid 1px #EAEAEA;
        box-shadow: 10px 10px 7px #EAEAEA;
        border-radius: 25px;
        position: relative;
        margin-bottom: 30px;
    }
}
.step{
    display: flex;
    &__number{
        display: flex;
        position: absolute;
        top: 10px;
        left: 0px;
        color: #fff;
        align-items: center;
        height: 10px;
        border: solid 1px $primaryColor;
        border-radius: 50px;
        padding: 10px;
        background-color: $primaryColor;
    }
    &__logo{
        display: flex;
        align-items: center;
        margin-left: 50px;
        opacity: 0.7;
        &--select{
            color: $primaryColor;
            opacity: 1;
        }
    }
    &__paragraph{
        margin-left: 25px;
        text-align: left;
        font-weight: bold;
    }
    &--select{
        background-color: rgba($secondaryColor, 0.15);
        border-radius: 50px;
    }
}