.localize{
    width: 100%;
    background-color: #EAEAEA;
    height: 70px;
    display: flex;
    justify-content: center;
    &__logo{
        display: flex;
        align-items: center;
        margin-right: 25px;
    }
    &__town{
        width: 50%;
        @include font2;
        font-size: $paragraphfontsize;
        background-color: transparent;
        border: transparent;
    }
}