.restaurantpicture{
    @include restaurantMenuContainer;
    & > img{
        @include restaurantMenuPicture;
    }
}
.mainMenu{
    background-color: #eaeaea;
    border: solid 2px #EAEAEA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    z-index: 5;
    margin-top: -60px;
}
.menu{
    &__restaurant{
        display: flex;
    }
    &__title{
        flex-basis: 80%;
        @include font1;
        font-size: $titlefontsize;
        font-weight: bold;
        margin-left: 15px;
    }
    &__heart{
        flex-basis: 20%;
        position: relative;
        &--yes{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: -1;
            color: $primaryColor;
            opacity: 0;
            transition: opacity 1.5s;
        }
        &--no{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: 1;
            opacity: 0.5;
            transition: opacity 1.5s;
        }
        &:hover .menu__heart--yes{
            z-index: 1;
            opacity: 1;
        }
        &:hover .menu__heart--no{
            z-index: -1;
            opacity: 0;
        }
    }
    &__firstcourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 15px 15px;
        height: 50px;
        &--fc01{
            animation: menuanimation 0.5s 3s both;
        }
        &--fc02{
            animation: menuanimation 0.5s 3.5s both;
        }
        &--fc03{
            animation: menuanimation 0.5s 4s both;
        }
    }
    &__firstcoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__layout{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover .menu__layout3{
            flex: 0 0 10%;
            background-color: $tertiaryColor;
            color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: cocheanimation 0.5s both;
        }
        &:hover .menu__firstcourse--effect{
            animation: rotatecocheanimation 0.3s 0.5s both;
        }
    }
    &__layout1{
        align-self: flex-end;
        flex: 1 1 80%;
        padding: 5px;
        overflow: hidden;
        & > p:first-child{
            font-weight: bold;
        }
        & > p{
            margin: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__layout2{
        flex: 1 0 10%;
        align-self: flex-end;
        display: flex;
        padding: 5px;
        & > p{
            margin: 0px;
        }
        & > p:last-child{
            font-weight: bold;
        }
    }
    &__layout3{
        display: none;
    }
    &__maincourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 15px 15px;
        height: 50px;
        &--mc01{
            animation: menuanimation 0.5s 4.5s both;
        }
        &--mc02{
            animation: menuanimation 0.5s 5s both;
        }
        &--mc03{
            animation: menuanimation 0.5s 5.5s both;
        }
    }
    &__maincoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__dessert{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
        height: 50px;
        &--d01{
            animation: menuanimation 0.5s 6s both;
        }
        &--d02{
            animation: menuanimation 0.5s 6.5s both;
        }
        &--d03{
            animation: menuanimation 0.5s 7s both;
        }
    }
    &__desserttitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
}
@keyframes menuanimation {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes cocheanimation {
    0% {
        transform: translate(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes rotatecocheanimation {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 599px){   /*Mode mobile*/
    .menu__heart--no{
        right: 30px;
    }
    .menu__heart--yes{
        right: 30px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .restaurantpicture{
        @include tablettemode;
    }
    .mainMenu{
        @include tablettemode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        width: 90%;
    }
    .menu__maincourse{
        width: 90%;
    }
    .menu__dessert{
        width: 90%;
    }
    .responsive{
        display: flex;
        flex-wrap: wrap;
        &__firstcourse{
            flex-basis: 49%;
            margin: 0;
        }
        &__maincourse{
            flex-basis: 49%;
            margin: 0;
        }
        &__dessert{
            flex-basis: 49%;
            margin: 0;
        }
    }
    .footer{
        @include tablettemode
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .restaurantpicture{
        @include desktopmode;
    }
    .mainMenu{
        @include desktopmode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        width: 90%;
    }
    .menu__maincourse{
        width: 90%;
    }
    .menu__dessert{
        width: 90%;
    }
    .responsive{
        display: flex;
        flex-wrap: wrap;
        &__firstcourse{
            flex-basis: 33.33%;
            margin: 0;
        }
        &__maincourse{
            flex-basis: 33.33%;
            margin: 0;
        }
        &__dessert{
            flex-basis: 33.33%;
            margin: 0;
        }
    }
    .footer{
        @include desktopmode
    }
}
