.restaurantpicture{
    @include restaurantMenuContainer;
    & > img{
        @include restaurantMenuPicture;
    }
}
.mainMenu{
    background-color: #eaeaea;
    border: solid 2px #EAEAEA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    z-index: 10;
    margin-top: -60px;
}
.menu{
    &__restaurant{
        display: flex;
    }
    &__title{
        flex-basis: 80%;
        @include font1;
        font-size: $titlefontsize;
        font-weight: bold;
        margin-left: 15px;
    }
    &__heart{
        flex-basis: 20%;
        position: relative;
        &--yes{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: -1;
            color: $primaryColor;
            opacity: 0;
            transition: opacity 1.5s;
        }
        &--no{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: 1;
            opacity: 0.5;
            transition: opacity 1.5s;
        }
        &:hover .menu__heart--yes{
            z-index: 1;
            opacity: 1;
        }
        &:hover .menu__heart--no{
            z-index: -1;
            opacity: 0;
        }
    }
    &__firstcourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
        height: 45px;
        animation: menuanimation 1.5s both;
    }
    &__firstcoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__layout{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 45px;
        cursor: pointer;
    }
    &__layout1{
        align-self: center;
        flex: 0 0 85%;
        & > p:first-child{
            font-weight: bold;
        }
        & > p{
            padding-left: 8px;
            margin: 0px;
        }
    }
    &__layout2{
        align-self: flex-end;
        display: flex;
        & > p{
            margin: 0px;
            padding-left: 8px;
        }
        & > p:last-child{
            padding-left: 10px;
            font-weight: bold;
        }
    }
    &__layout3{
        flex: 0 0 15%;
        background-color: $tertiaryColor;
        color: white;
        height: 45px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__maincourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
        animation: menuanimation 1.5s 1.5s both;
    }
    &__maincoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__dessert{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
        animation: menuanimation 1.5s 3s both;
    }
    &__desserttitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
}
@keyframes menuanimation {
    0% {
        transform: translateX(4000px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media screen and (max-width: 599px){   /*Mode mobile*/
    .menu__heart--no{
        right: 30px;
    }
    .menu__heart--yes{
        right: 30px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .restaurantpicture{
        @include tablettemode;
    }
    .mainMenu{
        @include tablettemode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        width: 90%;
    }
    .menu__maincourse{
        width: 90%;
    }
    .menu__dessert{
        width: 90%;
    }
    .responsive{
        display: flex;
        flex-wrap: wrap;
        &__firstcourse{
            flex-basis: 50%;
            margin: 0;
        }
        &__maincourse{
            flex-basis: 50%;
            margin: 0;
        }
        &__dessert{
            flex-basis: 50%;
            margin: 0;
        }
    }
    .footer{
        @include tablettemode
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .restaurantpicture{
        @include desktopmode;
    }
    .mainMenu{
        @include desktopmode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        width: 90%;
    }
    .menu__maincourse{
        width: 90%;
    }
    .menu__dessert{
        width: 90%;
    }
    .responsive{
        display: flex;
        flex-wrap: wrap;
        &__firstcourse{
            flex-basis: 33.33%;
            margin: 0;
        }
        &__maincourse{
            flex-basis: 33.33%;
            margin: 0;
        }
        &__dessert{
            flex-basis: 33.33%;
            margin: 0;
        }
    }
    .footer{
        @include desktopmode
    }
}
