/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.restaurantpicture{ /*Mise en page de l'image*/
    @include restaurantMenuContainer;
    & > img{
        @include restaurantMenuPicture;
    }
}
.mainMenu{ /*Mise en page générale de la partie restaurant, titre, menus et bouton*/
    background-color: $grey1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    z-index: 5;
    margin-top: -60px;
}
.menu{
    &__restaurant{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__title{ /*Mise en page du titre */
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
        @include font1;
        font-weight: bold;
        margin-left: 15px;
    }
    &__heart{ /*Mise en page du coeur */
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
        position: relative;
        &--yes{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: -1;
            color: $primaryColor;
            opacity: 0;
            -webkit-transition: opacity 1.5s;
            -o-transition: opacity 1.5s;
            transition: opacity 1.5s;
        }
        &--no{
            position: absolute;
            right: 115px;
            top: 17px;
            z-index: 1;
            opacity: 0.5;
            -webkit-transition: opacity 1.5s;
            -o-transition: opacity 1.5s;
            transition: opacity 1.5s;
        }
        &:hover .menu__heart--yes{
            z-index: 1;
            opacity: 1;
        }
        &:hover .menu__heart--no{
            z-index: -1;
            opacity: 0;
        }
    }

    &__firstcourse{ /*Mise en page générale des entrées */
        background-color: $white;
        border-radius: 10px;
        margin: 15px 15px;
        height: 50px;
        /*Gestion animations plats - boucle*/
        opacity: 0;
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        -webkit-animation: menuanimation $anim-speed linear;
                animation: menuanimation $anim-speed linear;
        -webkit-animation-fill-mode:forwards;
                animation-fill-mode:forwards;
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
        @for $i from 1 through 6{
        &:nth-child(#{$i}){
            -webkit-animation-delay: $i * 0.20s;
                    animation-delay: $i * 0.20s;
            }
        }
    }
    &__firstcoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        -webkit-animation: menutitleanimation 0.8s both;
                animation: menutitleanimation 0.8s both;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }

    &__maincourse{ /*Mise en page générale des plats */
        background-color: $white;
        border-radius: 10px;
        margin: 15px 15px;
        height: 50px;
        /*Gestion animations plats - boucle*/
        opacity: 0;
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        -webkit-animation: menuanimation $anim-speed linear;
                animation: menuanimation $anim-speed linear;
        -webkit-animation-fill-mode:forwards;
                animation-fill-mode:forwards;
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
        @for $i from 1 through 4{
        &:nth-child(#{$i}){
            -webkit-animation-delay: $i * 0.20s;
                    animation-delay: $i * 0.20s;
            }
        }
    }
    &__maincoursetitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        -webkit-animation: menutitleanimation 0.8s both;
                animation: menutitleanimation 0.8s both;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__dessert{ /*Mise en page générale des desserts */
        background-color: $white;
        border-radius: 10px;
        margin: 15px 15px;
        /*Gestion animations plats - boucle*/
        height: 50px;
        opacity: 0;
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        -webkit-animation: menuanimation $anim-speed linear;
                animation: menuanimation $anim-speed linear;
        -webkit-animation-fill-mode:forwards;
                animation-fill-mode:forwards;
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
        @for $i from 1 through 4{
        &:nth-child(#{$i}){
            -webkit-animation-delay: $i * 0.20s;
                    animation-delay: $i * 0.20s;
            }
        }
    }
    &__desserttitle{
        position: relative;
        margin: 0px 0px 45px 15px;
        padding-top: 20px;
        -webkit-animation: menutitleanimation 0.8s both;
                animation: menutitleanimation 0.8s both;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }

    &__layout{ /*Mise en page générale des contenus */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover .menu__layout3{ /*Gestion apparition de la coche et animation*/
            -webkit-box-flex: 0;
                -ms-flex: 0 0 10%;
                    flex: 0 0 10%;
            background-color: $tertiaryColor;
            color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-animation: cocheanimation 0.5s both;
                    animation: cocheanimation 0.5s both;
        }
        &:hover .menu__firstcourse--effect{
            -webkit-animation: rotatecocheanimation 0.5s both;
                    animation: rotatecocheanimation 0.5s both;
        }
    }
    &__layout1{ /*Mise en page nom du plat et description */
        -ms-flex-item-align: end;
            align-self: flex-end;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 80%;
                flex: 1 1 80%;
        padding: 5px;
        overflow: hidden;
        & > p:first-child{
            font-weight: bold;
            font-size: $paragraphfontsize;
        }
        & > p{
            margin: 0px;
            overflow: hidden;
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
            white-space: nowrap;
            font-size: $paragraphfontsize_restaurants;
        }
    }
    &__layout2{ /*Mise en page du prix */
        -webkit-box-flex: 1;
            -ms-flex: 1 0 10%;
                flex: 1 0 10%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px;
        & > p{
            margin: 0px;
            font-weight: bold;
            font-size: $paragraphfontsize_restaurants;
        }
    }
    &__layout3{ /*Mise en page de la coche */
        display: none;
    }
}

/*Animations des menus*/
@-webkit-keyframes menutitleanimation {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
        rotate: 1turn;
    }
}
@keyframes menutitleanimation {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
        rotate: 1turn;
    }
}
@-webkit-keyframes menuanimation {
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes menuanimation {
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

/*Animations de la coche*/
@-webkit-keyframes cocheanimation {
    0% {
        -webkit-transform: translate(20px);
                transform: translate(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@keyframes cocheanimation {
    0% {
        -webkit-transform: translate(20px);
                transform: translate(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@-webkit-keyframes rotatecocheanimation {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes rotatecocheanimation {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

/*Mode responsive*/
@media screen and (max-width: 599px){   /*Mode mobile*/
    .menu__heart--no{
        right: 30px;
    }
    .menu__heart--yes{
        right: 30px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .mainMenu{
        @include tablettemode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        max-width: 330px;
    }
    .menu__maincourse{
        max-width: 330px;
    }
    .menu__dessert{
        max-width: 330px;
    }
    .responsive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        &__firstcourse{
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            margin: 0;
        }
        &__maincourse{
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            margin: 0;
        }
        &__dessert{
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
            margin: 0;
        }
    }
    .footer{
        @include tablettemode
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .mainMenu{
        @include desktopmode;
        margin-top: -60px;
    }
    .menu__firstcourse{
        width: 90%;
    }
    .menu__maincourse{
        width: 90%;
    }
    .menu__dessert{
        width: 90%;
    }
    .responsive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        &__firstcourse{
            -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
            margin: 0;
        }
        &__maincourse{
            -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
            margin: 0;
        }
        &__dessert{
            -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
            margin: 0;
        }
    }
    .footer{
        @include desktopmode
    }
}