.restaurantpicture{
    @include restaurantMenuContainer;
    & > img{
        @include restaurantMenuPicture;
    }
}
#mainMenu{
    background-color: #eaeaea;
    border: solid 2px #EAEAEA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -60px;
    position: relative;
    z-index: 10;
}
.menu{
    &__restaurant{
        display: flex;
    }
    &__title{
        @include font1;
        font-size: $titlefontsize;
        font-weight: bold;
        margin-left: 15px;
        padding-top: 25px;
    }
    &__heart{
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 30px;
        &--yes{
            display: none;
            color: $primaryColor;
            opacity: 1;
        }
        &--no{
            opacity: 0.6;
        }
        &:hover .menu__heart--yes{
            display: block;
        }
        &:hover .menu__heart--no{
            display: none;
        }
    }
    &__firstcourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
    }
    &__firstcoursetitle{
        position: relative;
        margin-bottom: 45px;
        margin-left: 15px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__layout{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 15px;
    }
    &__layout1{
        & > p:first-child{
            font-weight: bold;
        }
        & > p{
            margin: 0px;
        }
    }
    &__layout2{
        align-self: flex-end;
        & > p{
            margin: 0px;
        }
    }
    &__maincourse{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
    }
    &__maincoursetitle{
        position: relative;
        margin : 45px 0px 45px 15px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
    &__dessert{
        border: solid #fff 1px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 15px;
    }
    &__desserttitle{
        position: relative;
        margin : 45px 0px 45px 15px;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            display: inline-block;
            height: 3px;
            width: 50px;
            background-color: $tertiaryColor;
        }
    }
}
