.footer{
    background-color: $fifthColor;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
    &__title{
        color: #fff;
        @include font1;
        margin: 0px;
        margin-left: 25px;
        font-size: 1rem;
        padding: 20px 0px;
    }
    &__nav{
        margin-left: 25px;
    }
}
.nav{
    margin: 0px;
    padding: 0px;
    & > li {
        list-style: none;
        color: #fff;
        display: flex;
    }
    &__primarynav{
        display: flex;
        & > p{
            margin: 5px 0px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        width: 30px;
    }
    &__secondarynav{
        margin: 5px 0px;
    }
}
