.footer{
    background-color: $fifthColor;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
    &__title{
        color: #fff;
        @include font1;
        margin: 0px;
        margin-left: 25px;
        font-size: 1rem;
        padding: 20px 0px;
    }
    &__nav{
        margin-left: 25px;
    }
}
.link{
    text-decoration: none;
}
.nav{
    margin: 0px;
    padding: 0px;

    & > li {
        list-style: none;
        color: #fff;
        display: flex;
    }
    &__primarynav{
        display: flex;
        & > p{
            margin: 5px 0px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        width: 30px;
    }
    &__secondarynav{
        text-decoration: none;
        margin: 5px 0px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .footer{        
        @include tablettemode;
    &__nav{
        display: flex;
        justify-content: space-evenly;
        }
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .footer{        
        @include desktopmode;
        &__nav{
            display: flex;
            justify-content: space-evenly;
            }
    }
}