/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    &__return{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 25px;
        & > a:link, a:visited{
            text-decoration: none;
            color: black;
            opacity: 0.6;
        }
    }
    &__logo {
        display: block;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .header{        
        @include tablettemode;
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .header{        
        @include desktopmode;
    }
}