.header {
    width: 100%;
    display: flex;
    margin: auto;
    &__return{
        display: flex;
        align-items: center;
        margin-left: 25px;
        & > a:link, a:visited{
            text-decoration: none;
            color: black;
            opacity: 0.6;
        }
    }
    &__logo {
        display: block;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}