.loading{ //*Mise en page du spinner*//
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba(0,0,0,.4);
    display: flex;
    animation: spinnerinvisible 1s 3.5s both;
    &__spinner{
        height: 30px; 
        width: 250px;
        border: solid;
        margin: auto;        
        &--action{
            height: 30px;
            width: 0px;
            background: linear-gradient(#FF79DA, #9356DC);
            animation: spinner 3s ease-in-out both;
        }
    }
}

//* Animations *//
@keyframes spinner { //*Barre de chargement*//
    0% {
        width: 0px;
    }
    100%{
        width: 250px;
    }
}
@keyframes spinnerinvisible { //*Disparition du spinner*//
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{ 
        opacity: 0; 
        visibility: hidden; 
    }
}
/*Media queries*/
@media screen and (max-width: 599px){  /*Mode mobile*/
    .loading{ //*Mise en page du spinner*//
        &__spinner{
            margin: 450px auto; 
        } 
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){  /*Mode tablette*/
    .loading{ //*Mise en page du spinner*//
        &__spinner{
            margin: 400px auto; 
        } 
    }
}
@media screen and (min-width: 1024px) {  /*Mode Desktop*/
    .loading{ //*Mise en page du spinner*//
        &__spinner{
            margin: 410px auto; 
        } 
    }
}